
:root {
    --linki: #5352ed;
    --ladny: #ffa801
}

* {
    margin: 0;
    padding: 0;
    border: none;
    background: 0 0;
    list-style-type: none;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: #2d3436
}


@import url(https://fonts.googleapis.com/css?family=Lato);

.h3-section,
.h4-section,
input {
    border-bottom: 3px solid var(--ladny)
}

#atuts,
#our-projects,
.atut,
.header,
.hello-box,
.icons,
.m2,
.m3,
.main-menu,
.projects,
.s4,
.top-bar,
.wrapper {
    display: flex
}

.a-description,
.e-description,
.hello-description,
.hover,
.icon-box,
.project {
    text-align: center
}

.h3-section,
.hello-box,
.logo {
    text-transform: uppercase
}

#atuts,
#team,
.f-picture {
    overflow: hidden
}

#toggle,
* {
    outline: 0
}

#right-menu,
.contacts {
    box-sizing: border-box
}

@keyframes border {
    100% {
        width: 100%
    }
}

.atut,
.e,
.e img {
    border-radius: 50%
}

.wrapper {
    background: #f5f6fa;
    font-family: Lato, sans-serif;
    flex-direction: column;
    flex-wrap: wrap
}

.header-content,
.hello-header {
    background-position: center center
}

#atuts,
#our-projects,
.atut,
.header-content {
    background-size: cover
}

.top-bar {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 22px;
    padding: 30px 15px 50px
}

.logo {
    font-weight: 600;
    letter-spacing: 2px
}

.logo-color {
    color: var(--linki);
    letter-spacing: 0
}

.main-menu {
    align-items: center
}

.main-menu li {
    margin: 0 20px;
    padding: 5px;
    position: relative
}

.main-menu li a {
    color: var(--linki);
    margin-bottom: 5px
}

.fa-archive,
.fa-home,
.fa-phone,
.fa-user-tag,
.fa-users {
    padding-right: 5px !important;
    color: var(--linki)
}

.main-menu li:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background-color: var(--linki)
}

.main-menu li:hover:before {
    animation: border .4s linear both
}

.header-content {
    height: 650px;
    background-image: url(hellobg.jpg);
    margin-bottom: 100px
}

.hello-box {
    padding-top: 70px;
    flex-direction: column;
    align-items: center
}

#right-menu li {
    margin: 10px;
}

.hello-header {
    font-size: 90px;
    font-weight: 800;
    color: var(--ladny);
    letter-spacing: 3px;
    background-image: url(textbg.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.header .icon-box,
.header-content .icon-box {
    margin-top: 150px
}

.hello-description {
    margin-top: 30px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px
}

.icon-box {
    margin-top: 50px
}

.fa-chevron-circle-down {
    font-size: 50px;
    color: var(--ladny);
    transition: .4s
}

.a-description,
.fa-chevron-circle-down:hover {
    color: var(--linki)
}

.header {
    flex-wrap: wrap;
    padding-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column
}

.h3-section,
.h4-section {
    padding: 5px;
    font-weight: 700
}

.h3-section {
    font-size: 30px;
    margin-bottom: 50px
}

.s1 {
    width: 100%
}

.m1 {
    width: 90%;
    margin: 0 auto
}

.description-section {
    font-size: 20px;
    margin-bottom: 20px
}

.h4-section {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 20px;
    width: 270px
}

.section-list li {
    list-style: disc;
    margin: 10px
}

.s2 {
    margin-left: 20px
}

.m2 {
    justify-content: space-around;
    align-items: center
}

.f-picture {
    width: 400px;
    height: calc(400px/1.618)
}

.s-picture {
    width: 100%;
    height: 100%;
    transition: .6s
}

.s-picture:hover {
    transform: scale(1.2) rotate(7deg)
}

#atuts {
    width: 100%;
    background-image: url(s1bg.jpg);
    background-position: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.atut,
.s-content {
    align-items: center
}

#team,
.atut {
    justify-content: center
}

.first,
.folder,
.last {
    position: relative
}

.first,
.last {
    width: 200%;
    padding: 70px;
    background-color: #f5f6fa;
    transform: rotate(2deg);
    left: -100px
}

.first {
    top: -30px
}

.last {
    bottom: -100px
}

.atut {
    width: 200px;
    height: 200px;
    background-position: center center;
    margin: 50px
}

.a-description {
    font-size: 24px;
    font-weight: 800;
    color: var(--ladny)
}

.atut1 {
    background-image: url(a1.png)
}

.atut2 {
    background-image: url(a2.png)
}

.atut3 {
    background-image: url(a3.png)
}

.s4 {
    justify-content: space-around;
    align-items: center
}

#team,
.employee {
    flex-direction: column;
    display: flex
}

#team {
    margin-top: 900px;
    align-items: center
}

#contact > .h3-section {
    margin-top: 50px
}

.contact2 > i {
    margin: 5px
}

.e,
.e img {
    width: 150px;
    height: 150px
}

#our-projects > .h3-section {
    margin-top: 50px
}

.e {
    margin: 50px
}

.employee {
    justify-content: center;
    align-items: center;
    width: 350px
}

.e-description {
    margin: 10px
}

e-about {
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.icons {
    margin: 5px;
    justify-content: center;
    align-items: center
}

.fa-facebook-f,
.fa-google-plus-g,
.fa-instagram,
.fa-twitter {
    margin: 0 10px;
    background-color: #ccc;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px !important;
    border-radius: 50%;
    text-align: center;
    transition: .4s
}

.fa-facebook-f:hover {
    color: #3b5998;
    cursor: pointer
}

.fa-google-plus-g:hover {
    color: #d34836;
    cursor: pointer
}

.fa-twitter:hover {
    color: #00acee;
    cursor: pointer
}

.fa-instagram:hover {
    color: #e95950;
    cursor: pointer
}

input {
    margin: 10px 15px 10px 70px
}

textarea {
    background: #eee;
    margin: 20px 15px 20px 70px;
    width: 210px;
    height: 95px;
    max-width: 210px;
    max-height: 95px;
    min-width: 210px;
    min-height: 95x;
    padding: 5px
}

#team .btn {
    margin-top: 100px
}

#our-projects {
    background-image: url(s2bg.jpg);
    margin-top: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px
}

.projects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px
}

.project {
    width: 26%;
    min-width: 230px;
    min-height: 240px;
    background: rgba(0, 0, 0, .6);
    margin: 10px;
    padding: 10px
}

.project img {
    width: 250px;
    height: calc(250px/1.618)
}

.folder .hover,
.folder figcaption {
    color: var(--ladny);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    padding: 5px
}

.hover {
    position: absolute;
    top: 20%;
    width: 100%;
    font-size: 18px;
    color: var(--linki);
    padding: 0 !important;
    display: none
}

.folder img:hover {
    filter: blur(3px);
    cursor: pointer
}

.folder img:hover ~ .hover,
.hover:hover {
    display: block
}

#contact,
#right-menu,
.author,
.contacts,
.employers,
.s-content {
    display: flex
}

.hover:hover {
    cursor: pointer
}

#contact {
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.s-content {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row
}

.maps,
.maps img {
    width: 400px
}

.maps img {
    height: 400px
}

.contacts {
    padding: 50px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 45%;
    margin: 0 100px
}

.contact1 > .fab {
    margin: 30px
}

.contact2 input {
    width: 400px;
    margin: 10px 40px
}

.contact2 textarea {
    width: 400px;
    height: 200px;
    max-width: 400px;
    max-height: 200px;
    min-width: 400px;
    min-height: 200px;
    margin: 40px
}

.author h4 {
    width: 500px;
    color: #f5f6fa
}

.author {
    justify-content: center;
    background-color: #111;
    padding: 30px 0 0 10px
}

.top {
    transform: rotate(180deg);
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 777;
}

.employers {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

#toggle {
    width: 40px;
    height: 35px;
    cursor: pointer;
    margin: 10px 10px 0 0;
    display: none
}

.after {
    width: 100%;
    height: 7px;
    margin-bottom: 5px;
    background: #95a5a6;
    border-radius: 2px
}

#right-menu {
    position: fixed;
    right: -1000px;
    top: 0;
    height: 100%;
    width: 200px;
    background: #e4e5e9;
    align-items: center;
    flex-direction: column;
    padding-top: 10vh;
    z-index: 999
}

.fa-times-circle {
    font-size: 40px;
    color: #95a5a6;
    cursor: pointer
}

#icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0
}

.f-picture {
    margin: 30px 10px
}

.hello-header-gal {
    text-align: center;
    font-size: 40px;
    color: var(--ladny)
}

.small {
    font-size: 100px;
    text-transform: lowercase;
}

@media (max-width:1200px) {
    .employee {
        width: 280px
    }

    input,
    textarea {
        margin-left: 30px
    }

    .project {
        width: 40%
    }

    .main-menu {
        display: none
    }

    #toggle {
        display: block
    }
}

@media (max-width:900px) {

    .m2,
    .m3 {
        flex-direction: column
    }

    .project {
        min-width: 200px;
        max-width: 300px;
        box-sizing: border-box;
        flex-direction: column;
        display: block
    }

    .m2 {
        justify-content: space-around
    }

    #team {
        margin-top: 1600px
    }

    .author {
        flex-direction: column
    }
}

@media (max-width:600px) {
    .hello-header {
        font-size: 50px
    }

    .project {
        width: 90%
    }

    .author h4 {
        width: 300px
    }

    .maps,
    .maps img {
        width: 280px;
        height: 280px
    }

    .contact2 input {
        width: 280px
    }

    .contact2 textarea {
        width: 280px;
        height: 200px;
        max-width: 280px;
        max-height: 200px;
        min-width: 280px;
        min-height: 200px;
        margin: 40px
    }
}

@media (max-width:400px) {
    .hello-header {
        font-size: 30px
    }

    .hello-description,
    h3 {
        font-size: 22px !important
    }

    h4 {
        font-size: 20px
    }

    .wrapper {
        font-size: 18px;
        overflow-x: hidden
    }

    .f-picture {
        width: 300px;
        box-sizing: border-box
    }

    .f-picture img {
        margin: 0 auto;
        width: 300px
    }

    .section-list {
        font-size: 15px;
        width: 90%;
        margin: 0 auto
    }

    h4 {
        width: 200px
    }
}
